page-read {
    h1 {
        background-color: $font-light !important;
        color: $primary !important;
        font-size: 1.3em;
        text-align:center;
        padding:8px;
    }
    span.highlight {
        background-color:$font-light !important;
    }

    li {
        font-size:1.3em !important;
    }
}
