// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #222222;
$background-color:  #f4f4f4;
$headings-font-weight: 300;

//-- site coler palete
$primary:    #AD1B82;
$secondary:  #087DCB;
$danger:     #f53d3d;
$light:      #f4f4f4;
$dark:       #7B2172;
$favorite:   #69BB7B;
$font-light: #FAC990;
$font-dark:  #222222;
$body:       #f4f4f4;


// Named Color Variables
// --------------------------------------------------
$colors: (
  primary:    $primary,
  secondary:  $secondary,
  danger:     $danger,
  light:      $light,
  dark:       $dark,
  favorite:   $favorite
);

// App Theme
// --------------------------------------------------
@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/
$ionicons-font-path: "../assets/fonts";
@import "ionicons";
