page-house {
    ion-card {width:140px !important; float:left; margin:10px !important;text-align:center;padding-top:10px !important;}
    ion-card img {height:65px;width:auto;display:inline-block;}
    ion-card h1 {font-size:1.2em !important}
}
