page-house {
    .noMatch {
        background-color:#FFF;
    }
    .item-inner {
        border:0 !important;
    }
    ion-header {
        ion-navbar {
            ion-item {
                background-color: transparent !important;
                padding:3px !important;
                ion-select {
                    background-color:transparent;
                    border-radius: 8px;
                    border-color:$primary;
                    margin-left:6px !important;
                    background-image:url(../assets/images/dropdown-background.png) !important;
                }
            }
        }
    }
    ion-card {
        border-radius:12px !important;
        width:146px !important;
        height:210px;
        float:left;
        text-align:center;
        padding-top:5px !important;
        padding-top:10px !important;
        margin:8px !important;
        ion-card-header {
            padding:0px !important;
            margin:0 !important;
        }
        &.Democrat {
            background-color: darkblue;
            color:#fff !important;
            h1 {
                color:#fff !important;
            }
        }
        &.Republican {
            background-color: darkred;
            color:#fff !important;
            h1 {
                color:#fff !important;
            }
        }
        &.Independent {
            background-color: white;
            color:#333 !important;
        }
        img {
            margin-top:5px;
            height:105px;
            width:auto;
            display:inline-block;
            border-radius:33px;
        }
        h1 {
            font-size:1.0em !important;
        }
        ion-card-content {
            h1 {
                font-size:0.9em !important;
            }
        }
    }
}
