<ion-header>
  <ion-navbar>
    <ion-title><span [innerHTML] ="dataType.toUpperCase()"></span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-item>
      <ion-avatar item-left>
        <img src="https://www.govtrack.us/data/photos/{{repDetails.person.id}}-200px.jpeg">
      </ion-avatar>
      <h2>{{repDetails.person.lastname}}, {{repDetails.person.firstname}}</h2>
      <p>{{repDetails.startdate}}</p>
    </ion-item>

    <ion-card-content>
      <p [innerHTML]="repDetails.description"></p>
      <ion-col *ngIf="repDetails.extra.contact_form">
        <ion-icon name="clipboard"></ion-icon> Contact Form
        <div><a href="{{repDetails.extra.contact_form}}" target="_blank">{{repDetails.extra.contact_form}}</a></div>
      </ion-col>
      <ion-col *ngIf="repDetails.extra.fax">
        <ion-icon name="print"></ion-icon> Fax
        <div>{{repDetails.extra.fax}}</div>
      </ion-col>
      <ion-col *ngIf="repDetails.extra.office">
        <ion-icon name="pin"></ion-icon> Office
        <div>{{repDetails.extra.office}}</div>
      </ion-col>
      <ion-col *ngIf="repDetails.extra.rss_url">
        <ion-icon name="logo-rss"></ion-icon> RSS Feed
        <div><a href="{{repDetails.extra.rss_url}}" target="_blank">{{repDetails.extra.rss_url}}</a></div>
      </ion-col>
      <ion-col *ngIf="repDetails.website">
        <ion-icon name="globe"></ion-icon> WebSite
        <div><a href="{{repDetails.website}}" target="_blank">{{repDetails.website}}</a></div>
      </ion-col>
      <ion-col *ngIf="repDetails.person.link">
        <ion-icon name="information-circle"></ion-icon> GovTrack
        <div><a href="{{repDetails.person.link}}" target="_blank">{{repDetails.person.link}}</a></div>
      </ion-col>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button primary clear small *ngIf="repDetails.person.twitterid !== null">
          <ion-icon name="logo-twitter"></ion-icon>
          <div><a href="https://twitter.com/{{repDetails.person.twitterid}}" target="_blank">{{repDetails.person.twitterid}}</a></div>
        </button>
      </ion-col>
      <ion-col>
        <button primary clear small *ngIf="repDetails.person.youtubeid !== null">
          <ion-icon name="logo-youtube"></ion-icon>
          <div><a href="https://youtube.com/{{repDetails.person.youtubeid}}" target="_blank">{{repDetails.person.youtubeid}}</a></div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          <ion-icon name="phone-portrait"></ion-icon>
          <div>{{repDetails.phone}}</div>
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>

</ion-content>
